
<nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="col-md-12 dashboard_form" id="navbarSupportedContent">
  
  
      <br>
        <a href="#" class="active text-white"routerLink="/admin">Home</a>
        <a href="#" class="text-white" routerLink="/categories">Categories</a>
        <a href="#" class="text-white"  routerLink="/addarticles">Articles</a>
        <a href="#" class="text-white" routerLink="/admin-client">Client</a>
        <a href="#" class="text-white" routerLink="/commande-admin">Commande</a>
        <a href="#" class="text-white" routerLink="/livraison">Livraison</a>
       
       
        <br><br><br>
    </div>
  </nav>
  
  
  
