._1Pb5I {
    -webkit-font-smoothing: subpixel-antialiased;
    
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
    font-size: 13px;
    padding-bottom: 32px;
    padding-top: 32px;
}
._1s697 {
    max-width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
._3J3Xl {
    
    display: flex;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;
}
._2ruF4 {
    width: 100%;
}
._17XDy {
    display: none !important;
    margin-bottom: 32px;
}
.VBCSb {
    background-color: #262626;
    border: none;
    display: block;
    height: 2px;
    margin: 0 auto;
    padding: 0;
}

._1isW- {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    max-width: 620px;
    width: 100%;
    margin: 0;
    padding: 0;
}
._10fbW {
    list-style: none;
    margin: 0;
    padding: 0;
}

._3J3Xl {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 32px;
}
._1Euek {
    padding: 0;
    margin: 0;
}
.Ro6CP {
    display: inline-block;
}
._229R0:link, ._229R0:visited {
    opacity: 1;
}
.bmiV0:link, .bmiV0:visited {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.Ro6CP:not(:first-child) {
    margin-left: 24px;
}

.Ro6CP {
    display: inline-block;
}

.iovEC {
    font-weight: 700;
    height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.mkT_W {
    padding: 0;
    display: block;
    list-style: none;
    margin-bottom: 16px;
    white-space: nowrap;
}
._3t5SY:link, ._3t5SY:visited {
    opacity: 0.5;
}
.bmiV0:link, .bmiV0:visited {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.bmiV0 {
    display: inline-block;
    position: relative;
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
._1a8GI:not(:first-child) {
    margin-left: 16px;
}

._10fbW {
    list-style: none;
    margin: 0;
    padding: 0;
}

._1E0b_ {
    color: gray;
    /* margin-left: auto; */
    /* padding-left: 32px; */
    white-space: nowrap;
    position: relative;
}
._39Wh1 {
    display: block;
    height: 20px;
    margin-bottom: 16px;
    transform: translateY(-4px);
    width: auto;
}
._2Hrzv {
    
    display: flex;
    
    flex-direction: row;
}
.gNZTp {
    list-style: none;
    padding: 0;
}
._3zD21 {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 16px;
    font-weight: 700;
}

._1eqUd {
    margin-top: 24px;
    display: none !important;
}
.n1aMi {
    display: block;
    color: hsl(0, 0%, 60%);
    font-size: inherit;
    margin-top: 12px;
}
._5akfd {
    margin-left: auto;
    margin-top: 8px;
}
.un_MZ {
    display: inline-block;
}

._1HTgw {
    display: inline-block;
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: opacity, transform;
}
