<!-- <section class="container-fluid">
    <section class="row">
        <div class="col-sm-12">
            <footer class="_1Pb5I" role="navigation">
                <div class="_1s697">
                    <div class="_3J3Xl">
                        <nav class="_2ruF4">
                            <hr class="_17XDy VBCSb">
                            <ul class="_1isW-">
                                <li class="_1a8GI">
                                    <ul class="_10fbW">
                                        <li class="iovEC">UP'DAT</li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY"
                                                href="https://themeforest.net/legal/market">Terms</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="https://themeforest.net/licenses">Licenses</a>
                                        </li>
                                        <li class="mkT_W"><a class="bmiV0 _3t5SY" href="https://build.envato.com">Market
                                                API</a>
                                        </li>
                                        <li class="mkT_W"><a class="bmiV0 _3t5SY"
                                                href="https://envato.com/market/affiliate-program">Become an
                                                affiliate</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="_1a8GI">
                                    <ul class="_10fbW">
                                        <li class="iovEC">Help</li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="https://help.market.envato.com">Themes and
                                                Templates</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY"
                                                href="https://help.market.envato.com/hc/en-us/categories/200216014">Authors</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="https://help.market.envato.com">Help
                                                Center</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="_1a8GI">
                                    <ul class="_10fbW">
                                        <li class="iovEC">Our Community</li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="http://community.envato.com">Community</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="https://envato.com/blog">Blog</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY" href="https://forums.envato.com">Forums</a>
                                        </li>
                                        <li class="mkT_W">
                                            <a class="bmiV0 _3t5SY"
                                                href="http://community.envato.com/#/events">Meetups</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                     
                    </div>
                    <hr class="VBCSb">
                    <div class="_3J3Xl">
                        <div class="URBwv">
                            <ul class="_1Euek">
                                <li class="Ro6CP">
                                    <a class="bmiV0 _229R0" href="https://envato.com">About Envato</a>
                                </li>
                                <li class="Ro6CP">
                                    <a class="bmiV0 _229R0" href="http://careers.envato.com">Careers</a>
                                </li>
                                <li class="Ro6CP">
                                    <a class="bmiV0 _229R0" href="https://envato.com/privacy/">Privacy Policy</a>
                                </li>
                                <li class="Ro6CP">
                                    <a class="bmiV0 _229R0" href="https://envato.com/sitemap/">Sitemap</a>
                                </li>
                            </ul>
                            <hr class="_1eqUd VBCSb">
                            <span class="n1aMi">All prices are in USD</span>
                            <small class="n1aMi">©
                                2019
                                 Envato Pty Ltd. Trademarks and brands are the property of their respective
                                owners.</small>
                        </div>
                        <div class="_5akfd">
                            <ul itemscope="" itemtype="http://schema.org/Organization">
                                <li class="un_MZ">
                                    <a class="_1HTgw" rel="nofollow" href="https://twitter.com/envato"
                                        aria-label="Twitter">
                                        <img class="_3Ie-f" alt="Twitter" title="Twitter"
                                            src="https://assets.shopfront.envato-static.com/images/icon-twitter.svg"></a>
                                </li>
                                <li class="un_MZ"><a class="_1HTgw" rel="nofollow"
                                        href="https://www.facebook.com/envato" aria-label="Facebook">
                                        <img class="_3Ie-f" alt="Facebook" title="Facebook"
                                            src="https://assets.shopfront.envato-static.com/images/icon-facebook.svg"></a>
                                </li>
                                <li class="un_MZ">
                                    <a class="_1HTgw" rel="nofollow" href="https://www.youtube.com/user/Envato"
                                        aria-label="YouTube">
                                        <img class="_3Ie-f" alt="YouTube" title="YouTube"
                                            src="https://assets.shopfront.envato-static.com/images/icon-youtube.svg">
                                    </a>
                                </li>
                                <li class="un_MZ">
                                    <a class="_1HTgw" rel="nofollow" href="https://www.instagram.com/envato/"
                                        aria-label="Instagram">
                                        <img class="_3Ie-f" alt="Instagram" title="Instagram"
                                            src="https://assets.shopfront.envato-static.com/images/icon-instagram.svg">
                                    </a>
                                </li>
                                <li class="un_MZ">
                                    <a class="_1HTgw" rel="nofollow" href="https://www.pinterest.com/envato/"
                                        aria-label="Pinterest">
                                        <img class="_3Ie-f" alt="Pinterest" title="Pinterest"
                                            src="https://assets.shopfront.envato-static.com/images/icon-pinterest.svg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
    </section>
</section> -->