.e-fieldset__footer {
    background-color: #fafafa;
    border-top: #e0e0e0 1px solid;
    padding: 16px;
    text-align: right;
}


.e-btn--3d.-color-primary {
    
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
}
.e-btn.-color-primary, .-color-primary.e-btn--3d, .-color-primary.e-btn--outline {
    background-color: #82b440;
}
.fs16 {
    font-size: 1rem;
}
.ttl{
    font-weight: 500;
}
.espace{
    margin-left: 10px;
    color: #fff;
    /* width: 50%; */
    /* transform: translate3d(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden; */
}



.e-fieldset.-border-radius-all, .e-fieldset {
    border-radius: 4px;
}

.e-fieldset {
    border: #e1e8ed 1px solid;
    margin-bottom: 30px;
    background-color: white;
}
.e-fieldset__header {
    
    display: flex;
  
    flex-flow: row wrap;

    align-items: baseline;
    margin: 16px;
}
.e-fieldset__footer {
    background-color: #fafafa;
    border-top: #e0e0e0 1px solid;
    padding: 16px;
    text-align: right;
}
@media (min-width: 569px){}
.e-fieldset__footer {
    padding: 24px 16px;
}
.e-btn--3d.-color-primary {
    
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
}
.e-btn.-color-primary, .-color-primary.e-btn--3d, .-color-primary.e-btn--outline {
    background-color: #82b440;
}
.e-fieldset.is-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.-shad {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
}
.-rad {
    border-radius: 4px;
}
.bg-white {
    background-color: #fff;
}
.color-default {
    color: #000;
}
.-pbxl {
    padding-bottom: 16px!important;
}
.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: gray;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 8px;
}
.e-fieldset.-border-radius-all, .e-fieldset {
    border-radius: 4px;
}
.e-fieldset {
    border: #e1e8ed 1px solid;
    margin-bottom: 30px;
    background-color: white;
}


.e-fieldset__title {
    
    flex: 2 0 auto;
    
    order: 2;
    max-width: 100%;
}
.t-heading.-size-s {
    font-size: 20px;
}
.t-heading.-color-dark, .t-heading {
    color: #454545;
}
.t-heading {
    -webkit-font-smoothing: antialiased;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
 
    padding: 0;
}
.h-m0 {
    margin: 0px !important;
}
.e-fieldset__subtitle {
    margin: 5px 0;
}
.t-body.-size-m {
    font-size: 14px;
}
.e-form {

    align-items: baseline;
    font-size: 13px;
}
.e-fieldset__body.-spacing-s, .e-fieldset__body {
    margin: 8px 16px;
}
[am-Grid] {
    float: left;
    width: 100%;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:start"] {
    clear: left;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Col~="l:5"] {
    width: 40.5%;
    float: left;
    margin-right: 2%;
}
.e-form .e-form__group {
    
    display: flex;
   
    flex-flow: row wrap;
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}
.e-form.-layout-vertical-inline .e-form__label {
    
    order: 1;
    
    flex: 0 auto;
    margin: 0 10px 2px 0;
}
.e-form.-layout-vertical-inline .e-form__input {
    
    order: 3;
}
@media (min-width: 569px){}
.e-fieldset__footer {
    padding: 24px 16px;
}
.e-btn--3d.-color-primary {
    -webkit-box-shadow: 0 2px 0 #6f9a37;
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
}
.e-btn.-color-primary, .-color-primary.e-btn--3d, .-color-primary.e-btn--outline {
    background-color: #82b440;
}
.e-fieldset {
    border: #e1e8ed 1px solid;
    margin-bottom: 30px;
    background-color: white;
}
.e-fieldset.-border-radius-all, .e-fieldset {
    border-radius: 4px;
}
.js .is-hidden--js {
    display: none !important;
}
.f-input.-width-full {
    width: 100%;
}

@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:start"] {
    clear: left;
}

@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:end"] {
    margin-right: 0;
    clear: right;
}
.f-input {
    font-size: 13px;
    font-weight: normal;
    outline: 0;
    height: 30px;
    line-height: 1;
    border-radius: 4px;
    color: gray;
    background: white;
    border: 1px solid #bababa;
    padding: 5px 8px;
}

button, input {
    overflow: visible;
}
e-form.-layout-vertical-inline .e-form__hint {
   
    order: 2;
    
    flex: auto;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:end"] {
    margin-right: 0;
    clear: right;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Col~="l:6"] {
    width: 49%;
    float: left;
    margin-right: 2%;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:start"] {
    clear: left;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:end"] {
    margin-right: 0;
    
}

@media (min-width: 1024px){}
[am-Grid] [am-Grid-Col~="l:4"] {
    width: 32%;
    float: left;
    margin-right: 2%;
}
@media (min-width: 1024px){}
[am-Grid] [am-Grid-Row~="l:end"] {
    margin-right: 0;
    clear: right;
}

@media (min-width: 1024px){}
[am-Grid] [am-Grid-Col~="l:3"] {
    width: 23.5%;
    float: left;
    margin-right: 2%;
}
.h-clear {
    clear: both;
}
.js .is-hidden--js {
    display: none !important;
}




.hdr {
    font-size: 0;
    min-height: 40px;
}
.-plm {
    padding-left: 8px!important;
}
.-pbl {
    padding-bottom: 10px!important;
}
.-prm {
    padding-right: 8px!important;
}
.-ptl {
    padding-top: 10px!important;
}

.hdr>span {
    color: #000;
    padding-left: 16px;
}
.-completed .hdr .-link, .hdr .-completed .-link, .hdr a, .hdr>i, .hdr>span {
    vertical-align: middle;
}
.-completed .hdr>.-link, .hdr>a, .hdr>span, .st {
    font-size: 14px;
    font-weight: 500;
}
.-mrxxs {
    margin-right: 2px!important;
}
.-pan {
    padding: 0!important;
}
.text-uppercase {
    text-transform: uppercase;
}
.-ofy-a .sum {
    max-height: 35vh;
    overflow-y: auto;
}
.brdt {
    border-top: 1px solid #f0f0f0;
}
.-fs-13 {
    font-size: 13px;
}
.prod_sum {
  
    display: flex;
}
.brdb {
    border-bottom: 1px solid #f0f0f0;
}
.-plm {
    padding-left: 8px!important;
}
.-pbs {
    padding-bottom: 6px!important;
}
.-prm {
    padding-right: 8px!important;
}
.-pts {
    padding-top: 6px!important;
}


.-mtxl {
    margin-top: 16px!important;
}
.-plm {
    padding-left: 8px!important;
}

.-prm {
    padding-right: 8px!important;
}
.price_row {
    
    display: flex;
    
    align-items: flex-end;
}
.color-default {
    color: #000;
}

.color-default {
    color: #000;
}

.price_col-desc {
    
    flex: 1;
    word-wrap: break-word;
}
* {
    box-sizing: border-box;
}
.price_col-value {
    width: 45%;
    text-align: right;
}

span[data-currency-iso], span[data-price] {
    display: inline-block;
}
.price_col-value {
    width: 45%;
    text-align: right;
}

.color-primary {
    color: #f68b1e;
}

.-hidden {
    display: none!important;
}
.-b {
    font-weight: 700;
}

.total {
    
    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
}
.color-primary {
    color: #f68b1e;
}
.-fs-17 {
    font-size: 17px;
}


.color-primary {
    color: #f68b1e;
}
.-fs-17 {
    font-size: 17px;
}
.-hidden {
    display: none!important;
}