
    <section class="row">

        <nav class="navbar navbar-expand-lg navbar-dark  color_menu1_2 container-fluid header_top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class=" col-md-4">
                    <a class="navbar-brand menu_element" href="#">Mouride-Authentique-Style</a>
                </div>

                

            </div>
        </nav>



    </section>
    <section class="row">

        <nav class="navbar navbar-expand-sm color_menu1_2   container-fluid header_top">

        </nav>


    </section>
    <section class="row">

        <nav class="navbar navbar-expand-sm color_menu_3 navbar-dark container-fluid header_top">      
        </nav>



    </section>

