<section class="container-fluid">

    <app-menu-admin></app-menu-admin>
</section>
<br>
<h2 class="">
    <div class="row">
        <div class="col-md-7 offset-md-5 image">
            <img src="../../../assets/img/updatee.PNG" height="250px" alt="">
        </div>
        <h2 class="text-center connect col-md-6 offset-md-3 ">Connectez vous </h2>

    </div>
</h2>
<div class="row">
    <div class="col-md-7 offset-md-4  center-block style=float:none; width: 400px;">
        <form class="border col-sm-5 offset-sm-1 form">
            <br>
            <div class="field" [ngClass]="{'error':this.isemailNotvalid}">
                <div class="form-group col-sm-12">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="email" placeholder="Email" [(ngModel)] = "this.register.email">
                </div>
            </div>
            <div class="alert alert-danger text-center height" *ngIf="this.isemailNotvalid">
                <span>Veuillez saisir un email valide</span>
            </div>
        <div class="field" [ngClass]="{'error': this.isPasswordShort || this.isPasswordEmpty}">
            <div class="form-group col-sm-12">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  name="password"   [(ngModel)] = "this.register.password">
            </div>
        </div>
        <div *ngIf="this.isPasswordShort" class="alert alert-danger text-center height" >
            <span> le mot de passe est trop court</span>
        </div> 
        <div  *ngIf="this.isPasswordEmpty" class="alert alert-danger text-center height" >
            <span>Veuillez saisir  un mot de passe valide</span>
        </div>  
            <div class="form-group form-check">
            </div>
            <div class=" col-sm-12 offset-sm-1 ">

                <button type="submit" value=""  (click)="logAdmin()" 
                    class="center col-sm-10 text-white button e-btn--3d -color-primary buttonconnect"><br>
                    se connecter 
                </button>
            </div>
            <br><br>
        </form>
        <!-- <form class="example-form border col-sm-5 offset-sm-1 form ">
            <h1 class="-flupp -or5 -tac -fs20 -mbm">Se connecter</h1>
            <mat-form-field class="example-full-width col-md-11">
              <input matInput placeholder="Email" [formControl]="this.emailFormControl">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br><br><br>
    
            <mat-form-field class="example-full-width col-md-11">
              <input matInput placeholder="Mot de passe" [formControl]="this.passwordFormControl"
                [type]="hide ? 'password' : 'text'">
            
              <mat-icon matSuffix (click)="hide = !hide"><i class="far fa-eye"></i></mat-icon>
             
    
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
    
    
    
            
          </form> -->
        <br><br><br>
    </div>
</div>